--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.3/constraints-3.11.txt"

apache-airflow-providers-docker==3.14.0
apache-airflow-providers-ssh
apache-airflow-providers-http
apache-airflow-providers-amazon
astronomer-cosmos
